/* 
    
    Author: by leeuw 

*/

/* Start :: NavBar */

.navbar-custom {
    height: 60px;
    background-color: #0f233a !important;
}

.btns-container a:hover, .btns-container a:hover i{
    background-color: #0f233a;
    color:white !important;
}
.btns-container a:hover{
    border:1px solid red;
    transition: width 3s ease 1s;
}
/* End :: NavBar */

.logoTitle{
    font-size: 15px;
    font-weight: bold;
}


/* Start :: Footer */

.custom-footer{
    background-color: #0f233a !important;
}

.custom-footer a:hover{
    color:white !important;
}


/* End :: Footer */


@media screen and (max-width:810px) {
    .rememberMe label, .passwordForgotten small a{
        font-size: 11px;
    }
    .logoTitle{
        font-size: 13px;
    }
    .custom-footer .usefulLinks{
        display: grid !important;
        justify-content: space-evenly;
        gap: 10px; 
    }
    .custom-footer .usefulLinks div{
        margin-bottom: 10px;
    }
    .custom-footer a{
        color:white !important;
    }
}


.header-logo img{
    width:400px;
}
@media screen and (max-width:400px) {
    .header-logo img{
        width:300px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


/* Auth: SideBar */

@media screen and (max-width:1200px) {
    .cusotom-sideBar{
        display: none !important;
    }
    #sidenav-main{
        display: none !important;
    }
    .auth-content{
        display: block !important;
    }
    .toggle-btn{
        display: inline-block
    }
}

.toggle-btn{
    display: none !important;
}

/* Search Bar */
.searchBar{
    display: flex;
    justify-content: center;
}
.searchBar input:hover{
    border:none;
}

/* DashBoard */

.box:hover{
    box-shadow: 0px 0px 10px #333;
}
.box{
    padding: 8px 10px;
    border-radius: 10px;
}
.box-title{
    margin: 10px 0px !important;
    background: linear-gradient(to right, #32a8a6 50%, white 50%) !important;
    background-size: 200% 100% !important;
    background-position: right bottom !important;
    border-radius: 10px !important;
    transition: all .5s ease-out !important;
}
.box:hover .box-title{
    background-position: left bottom !important;
}
.box:hover .box-title p{
    color: white !important;
    padding: 2px 7px !important;
    transition: all .6s ease-out !important;
}

@media screen and (max-width: 450px){
    .subContainer{
        justify-content: center !important;
    }
    .box{
        border: 1px solid gray !important;
        margin: 15px 0 !important;
    }
    .box-title{
        background-position: left bottom !important;
    }
    .box-title p{
        color: white !important;
        padding: 2px 7px !important;
        transition: all .6s ease-out !important;
    }   
}