/* 
    
    Author: by leeuw 

*/

.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: #fff;
    z-index: 99999; }
.preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
.preloader .loader .ytp-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none; }
.preloader .loader .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite; }
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%; }
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
}
.preloader .loader .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #1c426e #0f233a #e6e6e6;
    border-radius: 50%;
    border-width: 6px; }
.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #e6e6e6;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #e6e6e6;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes ytp-spinner-linspin {
to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes ytp-spinner-easespin {
12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@keyframes ytp-spinner-easespin {
12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@-webkit-keyframes ytp-spinner-left-spin {
0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@keyframes ytp-spinner-left-spin {
0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@-webkit-keyframes ytp-right-spin {
0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

@keyframes ytp-right-spin {
0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
} 
}

/* ==== Scroll bar====*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9b9999; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}

/* ==== Scroll bar ends==== */

/* Start :: NavBar */


.navbar-custom {
    height: 60px;
    background-color: #0f233a !important;
}

.btns-container a:hover, .btns-container a:hover i{
    background-color: #0f233a;
    color:white !important;
}
.btns-container a:hover{
    border:1px solid red;
    transition: width 3s ease 1s;
}
/* End :: NavBar */

.logoTitle{
    font-size: 15px;
    font-weight: bold;
}

#navbar{
    overflow: hidden !important;
}


/* Start :: Footer */

.custom-footer{
    background-color: #0f233a !important;
}

.custom-footer a:hover{
    color:white !important;
}


/* End :: Footer */


@media screen and (max-width:810px) {
    .rememberMe label, .passwordForgotten small a{
        font-size: 11px;
    }
    .logoTitle{
        font-size: 13px;
    }
    .custom-footer .usefulLinks{
        display: grid !important;
        justify-content: space-evenly;
        gap: 10px; 
    }
    .custom-footer .usefulLinks div{
        margin-bottom: 10px;
    }
    .custom-footer a{
        color:white !important;
    }
}


.header-logo img{
    width:400px;
}
@media screen and (max-width:400px) {
    .header-logo img{
        width:300px;
        margin-right: 20px;
    }
    #toggler_btn{
        margin-right: 20px !important;
    }
    #navbarBlur{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
}

@media screen and (max-width:825px) {
    .breadcrumb{
        display: none !important;
    }
    #nav-header{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
    }
    #nav-header ul {
        display: flex !important;
        justify-content: center !important;
    }
    .navbar{
        padding:0 !important;
        margin:0 !important;
    }
}

@media screen and (max-width:739px){
    #span_logout{
        display: none !important;
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


/* Auth: SideBar :: Start */
.sidenav {
    overflow-x: hidden !important;
}
.logout-btn{
    padding: 4px 8px;
}

.nav_btn:hover{
    background-color: #1a3e66;
}
.logout-btn:hover{
    background-color: rgb(219, 219, 219) !important;
    padding: 4px 8px;
    border-radius: 8px;
}
/* .icon-btn{
    background-color: white !important;
}
.icon-btn{
    color:#0f233a !important;
}
.icon-btn:hover{
    background-color: #0f233a !important;
} */

.cusotom-sideBar{
    display: block !important;
    z-index: 1000 !important;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
@media screen and (max-width:1200px) {
    .auth-content{
        display: block !important;
    }
    .cusotom-sideBar{
        display: none !important;
    }
}

/* Auth: SideBar :: End*/


/* DashBoard :: Start */

.box:hover{
    box-shadow: 0px 0px 10px #333;
}
.box{
    padding: 8px 10px;
    border-radius: 10px;
}
.box-title{
    margin: 10px 0px !important;
    background: linear-gradient(to right, #32a8a6 50%, white 50%) !important;
    background-size: 200% 100% !important;
    background-position: right bottom !important;
    border-radius: 10px !important;
    transition: all .5s ease-out !important;
}
.box:hover .box-title{
    background-position: left bottom !important;
}
.box:hover .box-title p{
    color: white !important;
    padding: 2px 7px !important;
    transition: all .6s ease-out !important;
}

@media screen and (max-width: 450px){
    .subContainer{
        justify-content: center !important;
    }
    .box{
        border: 1px solid gray !important;
        margin: 15px 0 !important;
    }
    .box-title{
        background-position: left bottom !important;
    }
    .box-title p{
        color: white !important;
        padding: 2px 7px !important;
        transition: all .6s ease-out !important;
    }   
}

/* DashBoard :: End */

/* ps filieres :: Start */

#ModalLabel{
    font-size: 17px !important;
}

/* ps filieres :: End */

/* Back Button:: Start */

#backto:hover{
    background-color: rgb(209, 209, 209);
    color:white;
    padding:8px;
    border-radius: 10px;
}

/* Back Button :: End */

/* Create Filiere:: Start */
#create_filiere .form-check:not(.form-switch) .form-check-input[type=checkbox]:after{
    position: static !important;
}
/* Create Filiere :: End */

/* Charts :: Start*/


/* Charts :: End */